body {
    --color-white: #FFFFFF;
    --color-red: #9B111E;
    --background-light: rgb(32, 35, 39);
}

.al-navbar-active {
    color: var(--color-white);
    font-weight: bold;
}

.al-v-center {
    align-items: center;
}

.al-h-right {
    justify-content: end;
}

.al-h-center {
    justify-content: center;
}

.al-left {
    float: left;
}

.al-right {
    float: right;
}

.al-flex {
    display: flex;
}

.al-clear {
    clear: both;
}

.al-block {
    display: block;
}