body {
    --color-white: #FFFFFF;
    --color-red: #9B111E;
    --background-light: rgb(32, 35, 39);
    overflow-y: scroll;
}

.al-navbar-active {
    color: var(--color-white);
    font-weight: bold;
}



.al-project-name {
    font-weight: 500;
    font-size: 20pt;
}

.al-project-short {
    font-weight: 500;
    font-size: 16pt;
}

.al-project-link {
    color: black;
    font-weight: 500;
    font-size: 16pt;
}

.al-resume-btn {
    background: #DDDDDD;
    color: #111111;
    font-weight: 500;
    transition: color 200ms ease-in-out 0ms, background 200ms ease-in-out 0ms;
}

.al-resume-btn:hover {
    background: var(--background-light);
    color: #AAAAAA;
}

.al-profile-img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 16px;
    border-radius: 50%;
    border: 2px solid black;
}

.al-profile-disc {
    padding-top: 16px;
}

.al-icon-link {
    color: white;
    padding: 4px;
    font-size: 32px;
    transition: color 200ms ease-in 0ms;
}

.al-icon-link:hover {
    color: #AAAAAA;
}

.al-full {
    width: 100%;
}

.al-height-full {
    height: 100%
}

.al-v-center {
    align-items: center;
}

.al-h-right {
    justify-content: end;
}

.al-h-center {
    justify-content: center;
}

.al-left {
    float: left;
}

.al-right {
    float: right;
}

.al-flex {
    display: flex;
}

.al-clear {
    clear: both;
}

.al-block {
    display: block;
}